.form-horizontal.well
	= form_for(@event, validate: true) do |f|
		- starts_at = f.object.starts_at ? f.object.starts_at.strftime("%FT%R") : Time.now.strftime("%FT%R")
		- ends_at   = f.object.ends_at ? f.object.ends_at.strftime("%FT%R") : Date.tomorrow.strftime("%FT%R")

		.form-group
			%label.col-sm-3.control-label
				Title
			.col-sm-6
				= f.text_field :title, placeholder: 'Title', class: "form-control", required: 'required'

		.form-group
			%label.col-sm-3.control-label
				Description
			.col-sm-6
				= f.text_area :desc, placeholder: 'Description', class: "form-control", required: 'required'

		.form-group
			%label.col-sm-3.control-label
				Place
			.col-sm-6
				= f.text_field :place, placeholder: 'Place', class: "form-control", required: 'required'

		.form-group
			%label.col-sm-3.control-label
				Price
			.col-sm-6
				= f.number_field :price, placeholder: 'Price', class: "form-control", required: 'required'

		.form-group
			%label.col-sm-3.control-label
				Starts at
			.col-md-6
				= f.datetime_local_field :starts_at, value: starts_at, required: 'required'

		.form-group
			%label.col-sm-3.control-label
				Ends at
			.col-md-6
				= f.datetime_local_field :ends_at, value: ends_at, required: 'required'


		.form-group
			.col-sm-offset-3.col-sm-6
				= f.submit value: action, class: "btn btn-success"

