!!!
%html
	%head
		%title Bookmyticket
		= stylesheet_link_tag	"application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		%header
			= render partial: 'shared/header'
		.container
			.row
				= render partial: 'shared/flash'

			- if signed_in?
				.row{style: 'margin-bottom: 20px;'}
					.col-md-5
						.media
							%a.pull-left{href: "#"}
								%img.media-object.dp.img-circle{src: avatar_url(current_user), style: "width: 100px;height:100px;border: 2px solid #CACACA;border-radius: 10%;"}/
							.media-body
								%h4.media-heading
									= current_user.name ? current_user.name : 'Rahul Chandra'
									%small India
								%h5
									Software Developer at
									%a{href: "http://keepworks.in"} Keepworks
								%hr{style: "margin:8px auto"}/
								%span.label.label-default HTML5/CSS3
								%span.label.label-default jQuery
								%span.label.label-info ROR
								%span.label.label-default Ruby
								%span.label.label-default Bootstrap
					.col-md-7
						%span.pull-right
							%a.btn.btn-default{href: events_path} Manage events
							%a.btn.btn-default{href: "#"} Arrange
							%a.btn.btn-default.btn-primary{href: new_event_path}
								%span.glyphicon.glyphicon-plus
								Create new
			= yield